body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.authorForm {
  display: flex;
  flex-direction: column;
}

.formContainer {
  max-width: 300px;
}